[Unit]
Description=Run WireGuard auto-switch periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=30s
Unit=wg-autoswitch.service
Persistent=true

[Install]
WantedBy=timers.target
